{% extends "./layouts/default.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">


            <section class="ev-brick color-blue">
                <div class="container">
                    <div class="row">
                        <div class="ev-content col-md-10 col-md-offset-1">
                            <div class="ev-content-intro">
                                <h2>Paving the Way for New Therapies</h2>
                                <p>The horizon of stem cell science is wide open. Research investigating the role of newborn stem cells in a number of therapies is currently underway. These trials represent a new, exciting age in cord blood and tissue research:</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="expanding-cards">
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Alzheimer's disease</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Alzheimer’s disease is the most prevalent progressive form of age-related dementia, and is likely to only affect more and more people. The dementia patient population expected to increase to 65.7 million by 2030 and 115.4 million by 2050.</p>
                                            <p>Studies using umbilical cord stem cells suggest they may play a role in the fight against Alzheimer’s disease.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img  src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Diabetes</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Type I and II diabetes result in the body’s inability to regulate blood sugar (glucose), ultimately leading to poor blood circulation, heart disease, stroke, infection, kidney failure, decreased quality of life, and often premature death.</p>
                                            <p>Ongoing studies suggest that cord blood stem cell therapy can help patients with type 1 diabetes achieve better metabolic control. Patients suffering from type 2 diabetes also benefited from the same treatment.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Liver Disease</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <img src="./assets/img/placeholder.svg" alt="icon">
                                            <p>Cirrhosis is a late stage of scarring (fibrosis) of the liver caused by many forms of liver diseases and conditions, such as hepatitis and chronic alcoholism.</p>
                                            <p>A clinical trial is currently looking at the ability of cord blood cells to help patients with liver cirrhosis. </p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Acute Lung Injury</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Acute Lung Injury occurs when lung tissue becomes damaged and scarred</p>
                                            <p>Clinical trials are currently in progress to investigate the use of umbilical cord stem cells in lung injury and pulmonary fibrosis.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Stroke</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>A stroke occurs when the blood supply to part of your brain is interrupted or severely reduced, depriving brain tissue of oxygen and nutrients.</p>
                                            <p>Ongoing studies are investigating the use of cord blood in stroke treatment.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img  src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Peripheral Artery Disease.</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Peripheral artery disease (also called peripheral arterial disease) is a common circulatory problem in which narrowed arteries reduce blood flow to your limbs.</p>
                                            <p>An ongoing clinical trial is studying the safety and efficacy of umbilical cord stem cell for secondary peripheral arterial disease. [28] Research is also being performed on the use of stem cells for treating ischaemic limbs.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Heart Repair</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>After a stroke, the muscles in the heart become progressively weaker and often require repair.</p>
                                            <p>Recent studies are investigating the use of umbilical cord blood for the purpose of cardiac repair of congenital heart disease.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img  src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Wound Healing</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Wounds can often go through several stages before they are healed.</p>
                                            <p>A recent study has been testing the healing effects of cord blood on wounds.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Spinal Cord Injury</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Spinal cord injury is damage to any part of the spinal cord and can cause permanent changes in strength, sensation and other body functions.</p>
                                            <p>Ongoing clinical trials are investigating the potential use of cord blood cells in the treatment of spinal cord injury.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="expanding-cards__card">
                                    <div class="visible-card-info">
                                        <img src="./assets/img/placeholder.svg" alt="icon">
                                        <span>Cerebral Palsy</span>
                                    </div>
                                    <div class="card-drawer">
                                        <div class="card-drawer__content">
                                            <p>Cerebral palsy, the leading cause of disability in early childhood, is a group of disorders that often leads to abnormal movement and posture, cognitive impairments, and lifelong functional deficits.</p>
                                            <p>A recent study shows that umbilical cord blood treatment can improve motor and cognitive function in children with cerebral palsy undergoing active rehabilitation, and create structural and metabolic changes in the brain.</p>
                                            <div class="close-drawer">Close</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>

{% endblock %}

